<p>
  Computational skills are an integral part of today's researchers in need to analyse large amount of data. You might be aware that many wet-lab biologists are currently spending part of their time on the computer. Many scientists struggle with this aspect of research as they have not been trained in the necessary set of skills. The result is that too much time is spent figuring out the process. This workshop provides training in several key tools, with a focus on good development practices that encourage efficient and reproducible research computing.
  
  <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p align="center">
  <em>
    For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
  </em>
</p>
